/* .App {
  text-align: center;
} */

.App {
  display: grid; 
  grid-template-columns: 0.9fr 1.2fr 0.9fr; 
  grid-template-rows: 0.2fr 0.1fr 3.5fr 0.2fr; 
  gap: 10px 0px; 
  grid-template-areas: 
    ". navbar ."
    ". button-link ."
    ". content ."
    ". pagination ."; 
}

.custom-button {
  color: #000 !important;
  background-color: #fff !important;
}

.button-link { grid-area: button-link; }
.content-container { grid-area: content; }
.pagination { justify-self: center; grid-area: pagination; }

.navbar {
  grid-area: navbar; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

/* .content-container { */
  /* grid-area: 2 / 2 / 3 / 3; */
  /* justify-self: center; */
/* } */

.content-card {
  border-radius: 8px;
  margin-bottom: 25px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
